{
  "extends": "airbnb",
  "rules": {
    "import/no-dynamic-require": "false",
    "quote-props":"off",
    "global-require": "off",
    //TODO remove console calls for logger
    "no-console": "off",
    "prefer-destructuring": ["off"],
    "no-trailing-spaces": ["off"]
  }
}